@font-face {
  font-family: 'Minions';
  src: url('../fonts/THE\ MINION.ttf');
}
@font-face {
  font-family: 'Logo';
  src: url('../fonts/Lordish.ttf');
}
body {
  position: relative;
  padding-top: 110px;
  min-height: calc(100vh);
}
footer {
  position: absolute;
  bottom: -2px;
  width: 100%;
  background-color: #FEE140;
}
footer .desenvolvido {
  font-family: 'Logo';
  font-size: 2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .desenvolvido a {
  padding: 20px 0;
  text-decoration: none;
  color: #222;
  cursor: pointer;
}
footer .copyright {
  color: #fafafa;
  padding: 20px;
  background-color: #222;
}
