@font-face {
  font-family: 'Minions';
  src: url('../fonts/THE\ MINION.ttf');
}
body {
  min-height: calc(100vh);
}
@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
[data-menu="button"] {
  display: none;
}
@media only screen and (max-width: 979px) {
  .js header .menu {
    display: flex;
    justify-content: flex-end;
  }
  .js header .menu [data-menu="button"] {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-family: 'Minions', monospace;
    font-size: 2em;
    color: #fafafa;
    cursor: pointer;
    margin: 10px;
    outline: 0;
  }
  .js header .menu [data-menu="button"]::before {
    content: '';
    display: inline-block;
    height: 3px;
    width: 17px;
    margin-right: 15px;
    background-color: #fafafa;
    box-shadow: 0 8px #fafafa, 0 -8px #fafafa;
    transition: 0.3s;
  }
  .js header .menu [data-menu="button"]:hover {
    color: #FEE140;
  }
  .js header .menu [data-menu="button"]:hover::before {
    background-color: #FEE140;
    box-shadow: 0 8px #FEE140, 0 -8px #FEE140;
  }
  .js header .menu [data-menu="button"].active::before {
    transform: rotate(90deg);
  }
  .js header .menu [data-menu='list'] {
    display: none;
    position: absolute;
    background-color: rgba(34, 34, 34, 0.8);
    width: 255px;
    z-index: 200;
    flex-direction: column;
    top: 91px;
    right: 0;
    font-size: 1.4em;
    align-items: flex-end;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.9);
  }
  .js header .menu [data-menu='list'] img {
    display: none;
  }
  .js header .menu [data-menu='list'] li {
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #222;
  }
  .js header .menu [data-menu='list'] li a {
    padding: 20px;
  }
  .js header .menu [data-menu='list'] li a::after {
    display: none;
  }
  .js header .menu [data-menu='list'] li:hover {
    background-color: #FFEF4F;
  }
  .js header .menu [data-menu='list'] li:hover a {
    color: #222;
  }
  .js header .menu [data-menu='list'] li:nth-child(1) {
    order: 3;
  }
  .js header .menu [data-menu='list'] li:nth-child(2) {
    order: 2;
  }
  .js header .menu [data-menu='list'] li:nth-child(4) {
    order: 1;
  }
  .js header .menu [data-menu='list'] li:nth-child(5) {
    order: 4;
  }
  .js header .menu [data-menu='list'].active {
    display: flex;
    animation: show-down 0.3s forwards;
  }
}
