@media only screen and (max-width: 787px) {
  #sobre .sobre {
    flex-direction: column;
  }
}

@media only screen and (max-width: 599px) {
  #produtos .lista-produtos .produto {
    flex-direction: column;
    height: 950px;
    justify-content: space-between;
  }

  #forms form {
    width: 300px;
  }
}