@media only screen and (max-width: 787px) {
  #sobre .sobre {
    flex-direction: column;
  }
}
@media only screen and (max-width: 599px) {
  #produtos .lista-produtos .produto {
    flex-direction: column;
    height: 950px;
    justify-content: space-between;
  }
  #produtos .lista-produtos .produto .img-produto {
    height: 100%;
  }
  #forms form {
    width: 300px;
  }
}
@media only screen and (max-width: 400px) {
  .js #forms .button {
    display: flex;
    flex-direction: column;
  }
  .js #forms .button .btn-geral {
    margin: 0;
  }
  .js #forms .button .btn-geral:first-child {
    margin-bottom: 20px;
  }
}
